input[type='range']{
    -webkit-appearance: none;
    background-color: #eee;
    height: 3px;
    width: 100%;
    cursor: pointer;
}

input[type='range']:focus{
    outline:none;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    cursor: pointer;
}

input[type='range']::-ms-range-thumb {
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    cursor: pointer;
}