.gl-profileUser {
    min-height: 100vh;
    background-color: #eee;
    &__form {
        h1 {
            color: #0981ec;
        }
        .upload-avatar {
            .img {
                img {
                    width: 150px;
                    height: 150px;
                    &:hover {
                        opacity: 0.65;
                    }
                }
            }
        }
        .form-input {
            i,
            h4 {
                color: #969494;
            }
            input {
                background-color: #f7f7f7;
                color: #8d8d8d;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            }
        }
    }
}
@media (min-width: 576px) {
    .gl-profileUser {
        &__form {
            max-width: 800px;
            background-color: #fff;
        }
    }
}
@media (min-width: 768px) {
    .gl-profileUser {
        &__form {
            .info {
                border-left: solid 1px #eee;
            }
        }
    }
}
